p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

:root {
  --first-title-color--: #212121;
  --acent-color--: #2196F3;
  --second-btn-color--: #FFFFFF;
}

body {
  font-family: Roboto;
  color: #757575;
}

.conteiner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  height: 581px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  fill: var(--acent-color--);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--acent-color--);
}

.modal__input-wrap {
  position: relative;
}

.modal__icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon-input {
  fill: var(--acent-color--);
}

.modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  outline: transparent;
  display: block;
}
.modal__text:focus {
  border-color: var(--acent-color--);
}
.modal__text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__chek-lable {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
}
.modal__chek-lable span {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__chek:checked + .modal__chek-lable span {
  background-color: var(--acent-color--);
  border: none;
}

.modal__chek-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal__coment {
  margin-bottom: 20px;
}

.modal__icon-chek {
  fill: transparent;
}
.modal__chek:checked + .modal__chek-lable .modal__icon-chek {
  fill: #ffffff;
}

.modal__policy {
  margin-bottom: 30px;
}

.modal__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color--);
  background-color: #2196F3;
  display: block;
  margin: 0 auto;
  border: 0px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.navigetion__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigetion__acent {
  color: var(--acent-color--);
}

.navigetion__logo {
  display: flex;
  margin-right: 93px;
  align-items: center;
}

.navigetion {
  display: flex;
  align-items: center;
}

.navigetion__list {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigetion__list:focus, .navigetion__list:hover {
  color: var(--acent-color--);
  cursor: pointer;
}

.connect {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header > .conteiner {
  display: flex;
  align-items: center;
}

.navigetion__item:not(:last-child) {
  margin-right: 50px;
}

.navigetion__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--first-title-color--);
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
}
.connect :focus, .connect :hover {
  color: var(--acent-color--);
  cursor: pointer;
}

.active {
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  background-color: var(--acent-color--);
  bottom: -28px;
}

.current {
  color: var(--acent-color--);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.connect__contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-btn-color--);
  margin: 0 auto 30px;
  width: 696px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color--);
  background-color: #2196F3;
  display: block;
  margin: 0 auto;
  border: 0px;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .content {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color--);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .content-title {
    text-align: left;
  }
}

.content-text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.content-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .content-list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .content-list {
    width: calc((100% - 90px) / 4);
  }
}

.content-bg {
  width: 450px;
  height: 120px;
  background-color: rgb(245, 244, 250);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .content-bg {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .content-bg {
    width: 270px;
  }
}

.work {
  padding-bottom: 94px;
}

.work__item {
  display: flex;
  gap: 30px;
  width: 1170px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color--);
  margin-bottom: 50px;
}

.work__box {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comand {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(245, 244, 250);
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-title-color--);
  margin-bottom: 50px;
}

.comand-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-title-color--);
  margin-bottom: 10px;
}

.comand-text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.comand-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.comand-list {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comand-list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .comand-list {
    width: calc((100% - 90px) / 4);
  }
}

.comand-about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.comand-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comand-soc-link:focus, .comand-soc-link:hover {
  background-color: var(--acent-color--);
}

.comand-soc-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comand-soc-icon .comand-soc-link:focus, .comand-soc-link:hover .comand-soc-icon {
  fill: #fff;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-title-color--);
  margin-bottom: 50px;
}

.client-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .ckient-soc-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .ckient-soc-item {
    width: calc((100% - 180px) / 6);
  }
}

.client-logo-link {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(175, 177, 184);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo-link:focus, .client-logo-link:hover {
  color: rgb(33, 150, 243);
  border-color: var(--acent-color--);
}
@media screen and (min-width: 768px) {
  .client-logo-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-logo-link {
    width: 170px;
  }
}

.client-icon {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: flex;
  margin-bottom: 20px;
}

.footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--second-btn-color--);
}

.footer__logo-acent {
  color: var(--acent-color--);
}

.footer__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link :focus, .footer__link :hover {
  color: var(--acent-color--);
  cursor: pointer;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .conteiner {
  display: flex;
}

.join {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-left: 70px;
}

.join__soc {
  display: flex;
  gap: 10px;
}

.join__soc-icon {
  fill: #FFFFFF;
}

.join__soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__soc-link:focus, .join__soc-link:hover {
  background-color: var(--acent-color--);
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.send {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-left: 93px;
}

.send__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.send__imp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.send__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
  margin-right: 12px;
  padding-left: 10px;
}
.send__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
}

.send__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color--);
  background-color: #2196F3;
  display: block;
  margin: 0 auto;
  border: 0px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send__svg {
  fill: var(--second-btn-color--);
  margin-left: 10px;
}

.portfolio__btn-item {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__btn-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color--);
  cursor: pointer;
  border: 0px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn-list:hover, .portfolio__btn-list:focus {
  color: var(--second-btn-color--);
  background-color: var(--acent-color--);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color--);
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__about {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio__top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio__top-text .portfolio__link:focus, .portfolio__link:hover .portfolio__top-text {
  transform: translateY(0%);
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */