.client {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.client-title {
    @include font(700, 36, 42, 0.03em);
    // font-weight: 700;
    // font-size: 36px;
    // line-height: calc(42 / 36);
    text-align: center;
    // letter-spacing: 0.03em;
    color: var(--first-title-color--);
    margin-bottom: 50px;
}

.client-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}


.ckient-soc-item{ width: calc((100% - 30px) / 2);



    @media screen and (min-width: 768px) {
        width: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 180px) / 6);

    }

}

.client-logo-link {
    max-width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(175, 177, 184, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
        &:hover {
            color: rgba(33, 150, 243, 1);
            border-color: var(--acent-color--);
        }

                @media screen and (min-width: 768px) {
                    width: 226px;
                }
        
                @media screen and (min-width: 1200px) {
                    width: 170px;
                }

}

.client-icon {
    fill: currentColor;
}

