.content {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.content-title {
    @include font(700, 14, 16,0.03em);
        // font-weight: 700;
        // font-size: 14px;
        // line-height: calc(16/14);
        // letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color--);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 1200px){
        text-align: left;
    }
}

.content-text {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

.content-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}

.content-list{
    @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
    
        }
}

.content-bg {
    width: 450px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
        width: 354px;
    }
        @media screen and (min-width: 1200px){
            width: 270px;
        }
}