

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.cont{display: block;
    margin: 0 auto;
}

.footer__logo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    
    
}

.footer__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--second-btn-color--);
}

.footer__logo-acent {
    color: var(--acent-color--)
}

.footer__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & :focus,
        & :hover {
            color: var(--acent-color--);
            cursor: pointer;
        }
}
.footer__item{text-align: center;}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
    
}

.footer .conteiner {
    display: flex;
}
