.hero {
    background-image: linear-gradient(to top,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../img/hero-mob-1x-min.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
            background-image: linear-gradient(to top,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../img/hero-mob-2x-min.jpg);
    }


    @include tablet{
        background-image: linear-gradient(to top,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero-tab-1x-min.jpg);
                padding-top: 118px;
                padding-bottom: 118px;
        @include retina {
            background-image: linear-gradient(to top,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../img/hero-tab-2x-min.jpg);
        }
    }
         @include desktop {
             background-image: linear-gradient(to top,
                     rgba(47, 48, 58, 0.4),
                     rgba(47, 48, 58, 0.4)),
                 url(../img/hero-bg.jpg);
             padding-top: 200px;
             padding-bottom: 200px;
            @include retina {
                    background-image: linear-gradient(to top,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(../img/hero-bg-2x.jpg);
                }
         }
}


.hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-btn-color--);
    margin:0 auto 30px;
    max-width: 360px;
    
    
    @include desktop{
        font-size: 44px;
        line-height: calc(60 / 44);
        max-width: 696px;
    }
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color--);
    background-color: #2196F3;
    display: block;
    margin: 0 auto;
    border: 0px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
}