.send {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // align-items: baseline;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    
    @media screen and (min-width: 1200px){
        margin-left: 93px;
        margin-top: 0;
        align-items: baseline;
    }
}

.send__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.send__imp {
    @media screen and (min-width: 1200px){
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

.send__email {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
   
    
    align-items: center;
    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: calc(20 / 16);
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            padding: 16px;
        }
                 @media screen and (min-width: 1200px) {
                     margin-right: 12px;
                     padding-left: 10px;
                     align-items: baseline;
        
                 }
}



.send__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color--);
    background-color: #2196F3;
    display: block;
    margin: 0 auto;
    border: 0px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    @media screen and (min-width: 1200px){
        margin-top: 0;
    }

}

.send__svg {
    fill: var(--second-btn-color--);
    margin-left: 10px;

}